th {
  font-size: 16px;
}

.table>thead:first-child>tr:first-child>th:before {
  content: "\f07d";
  font-family: FontAwesome;
}

.table>thead:first-child>tr:first-child>th {
  border:2px solid #808080;
  cursor: pointer; 
}

.table>thead:first-child>tr:first-child>th.headerSortDown:before { 
  content: "\f160";
  font-family: FontAwesome;
}

.table>thead:first-child>tr:first-child>th.headerSortDown { 
  /* background-image: url(../img/desc.gif);  */
  background-color: #3399FF; 
}


.table>thead:first-child>tr:first-child>th.headerSortUp:before { 
  content: "\f161";
  font-family: FontAwesome;
}

.table>thead:first-child>tr:first-child>th.headerSortUp { 
  background-color: #3399FF; 
}

td {
  font-size: 20px;
}
