th {
  font-size: 16px;
}

.table>thead:first-child>tr:first-child>th {
  border:2px solid #808080;
  cursor: pointer; 
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 24px 8px;
}

th.headerSortDown { 
    background-image: url('../img/desc.gif'); 
    background-color: #3399FF; 
}


th.headerSortUp { 
    background-image: url('../img/asc.gif'); 
    background-color: #3399FF; 
}

td {
  font-size: 20px;
}
